@import url('https://fonts.googleapis.com/css2?family=Anta&family=Arimo:ital@0;1&family=Barlow:wght@600&family=Inter:slnt,wght@-10..0,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    list-style: none;
  }
  :root{
    --color1:#ED4C5C;
    --color2:#FAFAFA;
    --color3:#D52047;
  }
body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 1440px;
    background: #FFF;
  }
h1{
    color: rgb(255, 255, 255);
font-family: "Josefin Sans", sans-serif;
font-size: 4.5em;
font-weight: 700;
line-height: 5.25em;
letter-spacing: 5%;
text-align: center;
text-transform: uppercase;
}
h2{
    color: rgb(0, 0, 0);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.15em;
    font-weight: 600;
    line-height: 1.35em;
    letter-spacing: 0%;
    text-align: left;
}
h3{
    color: rgb(16, 16, 16);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.3125em;
    letter-spacing: 0%;
    text-align: center;
}
h4{
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 121.3%;
    letter-spacing: 0%;
    text-align: justify;
}
p{
    color: rgb(16, 16, 16);
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
header{
    background-image: url(images/Rectangle\ 3.png);
    max-height: 782px;

}
header .container{
    background: linear-gradient(90.00deg, rgba(213, 32, 71, 0.8),rgba(238, 61, 27, 0.8) 100%);
    background-size: cover;
    max-height: 782px;
    padding-bottom: 20%;
}
.menu_flex {
    display: flex;
    justify-content: space-between;

}
.flex_left {
    display: flex;
    align-items: flex-end;
    font-size: 1.15em;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 0.5%;
    margin-left: 11.5%;
    
}
.flex_left span{
    margin-left: 3%;
}
.ul_flex {
    display: flex;
    margin-top: 4.3%;
    margin-left: 4%;
}
.ul_flex li{
    padding-right: 5%;
}
.ul_flex li a{
    text-decoration: none !important;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

}
.menu_btn{
    text-decoration: none;
    list-style: none;
    opacity: 1;
    color: #FFF;
    text-align: center;
    align-self: center;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 11px 31px;
    margin-top: 3.5%;
    font-size: 0.85em;
    margin-left: 4%;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

header h1{
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 0%;
    padding-bottom: 0;
}
header h3{
    color: #FFF;
    text-align: center;
    white-space: wrap;
    width: 35%;
    margin-top: -8%;
    font-size: 1.5em;
    margin-bottom: 2%;
    line-height: 1.6em;
}
.down_btn{
    margin: 0 auto;
    text-align: center;
    color: var(--color1);
    align-self: center;
    padding: 18px;
    width: 11%;
    height: 15%;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 0.85em;
    margin-top: 3.8%;
    margin-bottom: 50%;
    cursor: pointer;
}
.menu_btn_small{
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: rgb(85, 78, 78);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
    left:0;
}
.easy {
    margin-top: 8.7%;
    margin-left: -6.4%;
}
.easy_flex {
    display: flex;

}
.easy_left{
    display: flex;
    flex-direction: column;
    width: 35%;

}
.easy_h2 {
    margin-bottom: 7.5%;
}
.easy_h4 {
    color: #000;
    width: 100%;
    margin-bottom: 1%;
}
.easy_red_h4 {
    color: var(--color3);
    margin-left: 0%;

}
.easy_img {
margin-top: -2.2%;
margin-left: -10%;
    
}



@media screen and (max-width:1024px){

    h1{
        font-size: 3.5em;
        line-height: 4.5em;
    }
h2{
    font-size: 1.25em;
    line-height: 1.25em;
}
h3{
    font-size: 1em;
    line-height: 1.15em;
}
h4{
    font-size: 0.75em;
    line-height: 100%;
}
p{
    font-size: 0.65em;
    line-height: 125%;
}
header .container{
    min-height: 550px;
    padding-bottom: 0;
}
.flex_left{
    margin-left: 5%;
}
.ul_flex{
    margin-top: 5%;
    margin-left: 0%;    
}
.ul_flex li a{
    font-size: 0.8em;
}
.menu_btn{
    font-size: 0.8em;
    margin-top: 4%;
    margin-left: 6%;
}
header h3{
    margin-top: -5%;
    font-size: 1.25em;
    line-height: 1.25em;
}
.down_btn{
    font-size: 0.8em;
    width: 20%;
}
.easy_img {
    margin-top: -2.2%;
    margin-left: -8%;
    width: 30%;
}
@media screen and (max-width:750px){
    .flex_left{
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 50%;
        }
    .mobile_menu{
display: grid;
grid-template-rows: 1fr;
        margin: 0;
        align-self: left;
        text-align: left;
    }
    .ul_flex2{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 35%;
    margin-bottom: 15%;

}

    .ul_flex2 li a{
        text-decoration: none;
        list-style: none;  
        color: #FFF;
        font-family: "Josefin Sans", sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0%;
    }   
        .mobile_a{
            width: 100%;
            margin-left: 0%;
        }
    .sm1{
        display: block;
        color: #FFF;
        margin-top: 4%;
    }
    .ul_flex{
        display: none;
    }
    .menu_btn{
        display: none;
    }
    .mobile_menu_btn{
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 52.5%;
        height: 60px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #263238;
        cursor: pointer;
        margin-left: 30%;
        text-align: center;
        text-decoration: none;
    }
    .mobile_menu_btn:hover{
        color: var(--color3);
        background: var(--color1);
        }
        .menu_btn_small{
            cursor: pointer;
            display: contents;
            margin: 0;
            }
        
.flex_left_m{
    display: flex;
    align-items: flex-end;
    font-size: 1.15em;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-left: 30%;
}
.flex_left_m span{
    color: var(--color1);
}
h1{
    font-size: 3em;
    line-height: 3.8em;
}
h2{
font-size: 1.1em;
line-height: 1em;
}
h3{
font-size: 0.85em;
line-height: 1em;
}
h4{
font-size: 0.7em;
line-height: 100%;
}
p{
font-size: 0.6em;
line-height: 125%;
}
.down_btn{
    width: 30%;
}
header h3{
    font-size: 1.15em;
    line-height: 1.25em;
}
.easy_img {
    margin-top: -2.2%;
    margin-left: -5%;
    width: 32%;}
    .easy_left{
        margin-left: 15%;
    }
}
@media screen and (max-width:500px){
    header h2{
        width: 50%;
        margin-bottom: 15%;
    }
    .flex_left{
        margin-right: 35%;
        margin-left: 5%;
    }
    h1{
        font-size: 2.5em;
        line-height: 3em;
    }
    h2{
    font-size: 1em;
    line-height: 0.9em;
    }
    h3{
    font-size: 0.8em;
    line-height: 0.95em;
    }
    h4{
    font-size: 0.65em;
    line-height: 100%;
    }
    p{
    font-size: 0.55em;
    line-height: 125%;
    }
    .down_btn{
        width: 40%;
    }
    header h1{
        margin-top: 15%;
    }
    header h3{
        margin-top: 5%;
        width: 52%;
        font-size: 1em;
        line-height: 1.15em;
    }
    .ul_flex2{
        margin-left: 20%;
    }
    .mobile_menu_btn{
        margin-left: 20%;
    }
    .flex_left_m{
        margin-left: 10%;
    }
    .sidebar{
        width: 80%;
    }
    .easy_flex{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .easy_img {
        margin: 0 auto;
        width: 70%;
        margin-left: 20%;
    }
        .easy_left{
            margin: 0 auto;
            width: 80%;
            align-self: center;
            margin-left: 15%;
        }
        .easy_red_h4 {
            margin: 0 auto;
        }

}
@media screen and (max-width:360px){
    .sidebar{
        width: 80%;
    }
    .ul_flex2{
        margin-left: 5%;
    }
    .mobile_menu_btn{
        margin-left: 5%;
        width: 80%;
    }
    .flex_left_m{
        margin-left: 0%;
        font-size: 0.8em;
    }
    .flex_left{
        margin-right: 20%;
    }
}
    
